link(rel="shortcut icon" href="/favicon.png?v3" type="image/png")
link(title="Cogear.JS – blog posts" type="application/rss+xml" rel="alternate" href="https://cogearjs.org/rss.xml")
meta(content="width=device-width, height=device-height, initial-scale=1, minimum-scale=1.0, maximum-scale=1" name="viewport")
meta(name="description" content=`${description || 'Cogear.JS – modern static websites generator'}`)
meta(name="author" content="Dmitriy Beliaev")
meta(name="keywords" content="cogear,webpack,node,javascript,markdown,generator,website,hot-reload,themes,plugins,github")
meta(property="og:title" content=`${pageTitle || title || 'Cogear.JS'}`)
meta(property="og:type" content="article")
meta(property="og:url" content="https://cogearjs.org/")
meta(property="og:description" content=`${description || 'Cogear.JS – modern static websites generator'}`)
meta(property="og:image" content=`${featured_image || 'https://cogearjs.org/images/cogearjs.jpg'}`)
meta(name="twitter:card" content="summary")
meta(name="twitter:title" content=`${pageTitle || title || 'Cogear.JS'}`)
meta(name="twitter:creator" content="@cogearjs")
meta(name="twitter:description" content=`${pageTitle || title || 'Cogear.JS'}`)
meta(name="twitter:image" content=`${featured_image || 'https://cogearjs.org/images/cogearjs.jpg'}`)
meta(name="theme-color" content="#662D8C")
