doctype html
head
	if tag
		- title = tag[0].toUpperCase() + tag.slice(1)
	if title
		- pageTitle=`${title} | Blog | ${cogear.config.title}` 
	else
		- pageTitle = `Blog | ${cogear.config.title}` 
	if paginator && paginator.current > 1
		- pageTitle = `Page ${paginator.current} | ${pageTitle}`
	title= pageTitle
	include includes/header
	block head
body
	block content
		include includes/nav
		.container
			main
				aside.menu
					p.menu-label Blog
					if cogear.blog.tags
						ul.menu-list
							each t in cogear.blog.tags.sort()
								- var tagName = t[0].toUpperCase() + t.slice(1)
								li
									if tag && t == tag
										a.is-active(href=`/blog/tag/${t}`)= tagName
									else if tags && tags.includes(t)
										a.belongs-to-post(href=`/blog/tag/${t}`)= tagName
									else
										a(href=`/blog/tag/${t}`)= tagName
							unless posts
								li#backToBlog: a.back(href="javascript: history.back()") <i class="fas fa-arrow-left"></i> Back to blog
				section.blog.markdown-body 
					if tag
						header#tag
							h1=`${tag}`
					include includes/post
					if posts
						each post in posts
							+post(post)
						include includes/paginator
					else
						+post({
							title: title,
							author: author,
							uri: uri,
							date: date,
							content: content,
							teaser: null,
							tags: tags
						})
		script#dsq-count-scr(src="//cogear-js.disqus.com/count.js" async)
		include includes/footer
					