mixin link(href,text)
	li
		a(href="/"+href class=(path==href+'/index.html' ? "is-active" : ''))= text
		if block
			ul.menu-list
				block
doctype html
head
	block head
		title= title + " | Documentation | Cogear.JS - modern static websites generator"
		meta(name="viewport" content="width=device-width, height=device-height, initial-scale=1, minimum-scale=1.0, maximum-scale=1")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		link(rel="shortcut icon" href="~favicon.png" type="image/png")
		meta(name="description" content=description)
		meta(name="keywords" content="cogear,webpack,node,javascript,markdown,generator,website,hot-reload,themes,plugins,github")
		meta(property="og:title" content=title)
		meta(property="og:type" content="website")
		meta(property="og:url" content="https://cogearjs.org/")
		meta(property="og:description" content=description)
		meta(property="og:image" content="https://github.com/codemotion/cogear-storage/blob/master/images/cogearjs.jpg?raw=true")
		meta(name="twitter:card" content="summary")
		meta(name="twitter:title" content=title)
		meta(name="twitter:creator" content="@cogearjs")
		meta(name="twitter:description" content=description)
		meta(name="twitter:image" content="https://github.com/codemotion/cogear-storage/blob/master/images/cogearjs.jpg?raw=true")
		meta(name="theme-color" content="#662D8C")
body
	block content
		.navigation
			.container
				nav.navbar(role="navigation" aria-label="main navigation" data-turbolinks-permanent)
					.navbar-brand 
						.navbar-item: a(href="/" data-turbolinks="false") COGEAR.JS
						a.navbar-burger(role="button" aria-label="menu" aria-expanded="false" data-target="menu")
							span(aria-hidden="true")
							span(aria-hidden="true")
							span(aria-hidden="true")
					.navbar-menu.animated.faster#menu
						.navbar-start
							.navbar-item: a(href="/docs") Docs
						.navbar-end
							a.navbar-item(href="/blog" data-turbolinks="false") Blog
							a.navbar-item(href="/video") Videos
							a.navbar-item(href="https://github.com/codemotion/cogear.js") Github
							a.navbar-item(href="https://github.com/codemotion/cogear.js/issues") Issues
							a.navbar-item(href="https://github.com/codemotion/cogear.js/wiki") Wiki
							a.navbar-item(href="/docs/license") License
		.container
			main
				aside.menu
					p.menu-label#version v1.0.x
					ul.menu-list
						+link("docs","Getting started")
						+link("docs/workflow","Workflow")
						+link("docs/themes","Themes")
						+link("docs/plugins","Plugins")
						+link("docs/webpack","Webpack")
						+link("docs/deploy","Deploy")
						+link("docs/license","License")
						+link("docs/support","Support")
				article.markdown-body
					!= content
		block footer
			footer
				p#copyleft.
					Proudly built with <a href="https://cogearjs.org">Cogear.JS</a> © 2018
					